.form_actions
  %div.moreactions 
    .btn-group   
           
%ul#inboxinc.tasklist
= form_tag incomplete_tasks_path, :id => 'complete_form_inb' do  
  = submit_tag "Uncomplete", class: "uncompletebutton", :name => 'incompletebutton'
  = submit_tag "Delete", class: "submitbutton", :name => 'indeletebutton', :method => :delete
  %a.drpdown#drop.moreactions{"data-toggle" => "dropdown", href: "#", role: "button"}
    More Actions
    %b.caret
    %ul#menu1.dropdown-menu{"aria-labelledby" => "drop", role: "menu"}
      %li#set1li 
        %a.drpdown= submit_tag "Inbox" id: 'movetoinb', class: 'droplist'
        %a.drpdown= submit_tag "Personal" id: 'movetopers', class: 'droplist'
        %a.drpdown= submit_tag "Work", id: 'movetowork', class: 'droplist'
        %a.drpdown= submit_tag "Study", id: 'movetostd', class: 'droplist'
  %hr.seperator    
  - @task.personalcompleted.each do |task|
    %li.tasks{id: "taskp_#{task.id}"}
      = check_box_tag "task_id[]", task.id
      - if task.priority==1
          %div.statusbar.prior1{id: "taskbar_#{task.id}"}
      - elsif  task.priority==2
          %div.statusbar.prior2{id: "taskbar_#{task.id}"}
      - elsif  task.priority==3
          %div.statusbar.prior3{id: "taskbar_#{task.id}"} 
      %span#contenttext= task.content 


  
    
