.form_actions
  %div.moreactions 
    .btn-group            
= form_for (@task), :html=> {:id => 'task_form_i'}, remote: true do |f|
  .field.clearfix
    = f.text_field :content, :placeholder => "<< Add a new task", :id=>"task_contenti", :class=>"contentarea",  :autocomplete => :off
    = f.hidden_field :type, { :value => "Inbox"} 
#loading-indicator
  = image_tag("ajax-loader.gif", :id => "loading-indicator") 

%ul#inbox.tasklist
= form_tag complete_tasks_path, :id => 'complete_form_inb' do  
  = submit_tag "Completed", class: "completebutton", name: "completebutton"
  = submit_tag "Postpone", class: "postponebutton", name: "postponebutton"
  = submit_tag "Delete", class: "submitbutton", :name => 'deletebutton', :method => :delete
  %li.dropdown
  %adrpdown#drop6.moreactions{"data-toggle" => "dropdown", href: "#", role: "button"}
    More Actions..
    %b.caret1
  %ul#menu3.dropdown-menu.drpi{"aria-labelledby" => "drop6", role: "menu"}
    %li{role: "presentation"}
      %a.drpdown= submit_tag "1",  id: 'set1', class: 'droplist'
    %li{role: "presentation"}
      %a.drpdown= submit_tag "2",  id: 'set2', class: 'droplist'
    %li{role: "presentation"}
      %a.drpdown= submit_tag "3",  id: 'set3', class: 'droplist'
    %li.divider{role: "presentation"}
    %li{role: "presentation"}
      %a.drpdown= submit_tag "Move Up", :name => 'setup', id: 'setup', class: 'droplist'   
    %li{role: "presentation"}
      %a.drpdown= submit_tag "Move Down", :name => 'setdown', id: 'setdown', class: 'droplist' 
    %li.divider{role: "presentation"}
    %li{role: "presentation"}
      %a.drpdown= submit_tag "Inbox", id: 'movetoinb', class: 'droplist'
    %li{role: "presentation"}
      %a.drpdown= submit_tag "Personal", id: 'movetopers', class: 'droplist'
    %li{role: "presentation"}
      %a.drpdown= submit_tag "Work", id: 'movetowork', class: 'droplist'
    %li{role: "presentation"}
      %a.drpdown= submit_tag "Study", id: 'movetostd', class: 'droplist'
  %hr.seperator   
    / - @tasks.inboxincompleted.each do |task|
    /   %li.tasks{id: "taski_#{task.id}"}
    /     = check_box_tag "task_id[]", task.id
    /     - if task.priority==1
    /       %div.statusbar.prior1{id: "taskbar_#{task.id}"}
    /     - elsif  task.priority==2
    /       %div.statusbar.prior2{id: "taskbar_#{task.id}"}
    /     - elsif  task.priority==3
    /       %div.statusbar.prior3{id: "taskbar_#{task.id}"} 
    /     - elsif  task.priority==0
    /       %div.statusbar.prior0{id: "taskbar_#{task.id}"}   
    /     %span#contenttext= task.content 
    = render 'tasklist'


= form_tag('/tasks', method: :get)      
%li.dropdown.moreactions_sort
  %a.drpdown#drop6.dropdown-toggle{"data-toggle" => "dropdown", href: "#", role: "button"}
    Sort by...
    %b.caret
  %ul#menu.dropdown-menu.dropdown-pos{"aria-labelledby" => "drop6", role: "menu"}
    %li{role: "presentation"}
      %a.drpdown= submit_tag "priority", id: 'setp', class: 'droplist', name: "order_by", value: "priority"
    %li{role: "presentation"}
      %a.drpdown= submit_tag "postpone", id: 'setd', class: 'droplist', name: "order_by", value: "postpone"
    %li{role: "presentation"}
      %a.drpdown= submit_tag "content",  id: 'setn', class: 'droplist', name: "order_by", value: "content"
      

    
