<div class="container">
  <div class="row">
    <div class="col-md-8">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#inbox" data-toggle="tab">Inbox</a></li>
        <li><a href="#personal" data-toggle="tab">Personal</a></li>
        <li><a href="#study" data-toggle="tab">Study</a></li>
        <li><a href="#work" data-toggle="tab">Work</a></li>
        <li><a href="#sent" data-toggle="tab">Sent</a></li>
        <li><a href="#all" data-toggle="tab">All Tasks</a></li>
      </ul>
      <div class="tab-content hometabs">
        <div class="tab-pane active" id="inbox"><%= render 'tabs' %></div>
        <div class="tab-pane" id="personal"><%= render 'tabs' %></div>
        <div class="tab-pane" id="study"><%= render 'tabs' %></div>
        <div class="tab-pane" id="work"><%= render 'tabs' %></div>
        <div class="tab-pane" id="sent"><%= render 'tabs' %></div>
        <div class="tab-pane" id="work"><%= render 'tabs' %></div>
      </div>
    </div>
    <div class="col-md-4">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#list" data-toggle="tab">List</a></li>
        <li><a href="#share" data-toggle="tab">Share</a></li>
        <li><a href="#publish" data-toggle="tab">Publish</a></li>
      </ul>
      <div class="tab-content hometabs">
        <div class="tab-pane active" id="list"><%= render 'list' %></div>
        <div class="tab-pane" id="share"></div>
        <div class="tab-pane" id="publish"></div>
      </div>
      <div class="col-md-12" style="border:1px solid #DDDDDD;margin:5px;border-radius:5px;">
        <p style="padding:5px;">The Inbox is just like your email inbox - except that instead of emails, you'll receive tasks. Learn more about the Inbox.</p>
      <div> 
      <div class="col-md-2 clearfix" style="border:1px solid #DDDDDD;margin:5px;border-radius:5px;">
        <p style="padding:5px;">The Inbox is just like your email inbox - except that instead of emails, you'll receive tasks. Learn more about the sfdsdddsa,dnjkasnasnakjndsksnjansjksakjnInbox.</p>
      <div>   
    </div>
  </div>
</div>

